@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'lobster', 'cursive';
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    background-size: cover;
}
